html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.buttons {
  text-align: center;
  margin-top: 10px;
}

h1 {
  text-align: center;
  margin-top: 40% ! important;
  color: white ! important;
}

.btn-primary {
  margin: 10px;
}

.game {
  margin: 0;
  width:100vw;
}

.container {
  margin: 0px ! important;
  padding: 0px ! important;
}

.square-grid {
  min-height: 100vh;
  display: inline-block;
  text-align: center;
  width: 80%;
  float: left;
}

.square {
  margin: 10px;
  height: 200px;
  width: 200px;
  display: inline-grid;
  border: 3px solid black;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}

.square-content {
  margin-top: 45%;
}

.counter {
  margin: auto;
  min-height: 100vh;
  background-color: black;
  width: 20%;
  display: inline-block;
  float: right;
}

.counter-number {
  background-color: white;
  width: 35%;
  margin: 20% auto 90% auto;
  text-align: center;
}
